[submodule "MRI_analysis/pre_process_bids/toolboxes/spmup"]
	path = MRI_analysis/pre_process_bids/toolboxes/spmup
	url = https://github.com/Remi-Gau/spmup.git
[submodule "MRI_analysis/pre_process_bids/toolboxes/GLMdenoise"]
	path = MRI_analysis/pre_process_bids/toolboxes/GLMdenoise
	url = https://github.com/kendrickkay/GLMdenoise.git
